*{
    box-sizing: border-box;
}
body{
    font-family: 'Arial' ,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #6f42c1, #e83e8c);

}
.Login-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.2);
    width: 350px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile-pic-section img{
    
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit:cover ;
}

h2{
    margin-bottom: 20px;
}
.input-group{
    width: 100%;
    margin-bottom: 15px;
}
label{
    font-size: 14px;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
.toggle-password{
    position: absolute;
    margin: -32px;
    margin-left: 240px;
    cursor: pointer;
}
button{
    background-color: #e83e8c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover{
     background-color: #6f42c1;

}
#errorMassage{
    color: red;
    margin-top: 10px;
}
@media  screen and(max-width: 400px) {
    .Login-container{
        width: 100%;
        margin: 0 20px;
    }
    .toggle-password{
        margin-left: 190px;
    }
    
}